:root {
  --primary-blue: hsl(238, 40%, 52%);
  --primary-red: hsl(358, 79%, 66%);
  --primary-grayish-blue: hsl(239, 57%, 85%);
  --primary-pale-red: hsl(357, 100%, 86%);

  --neutral-dark-blue: hsl(212, 24%, 26%);
  --neutral-grayish-blue: hsl(211, 10%, 45%);
  --neutral-gray: hsl(223, 19%, 93%);
  --neutral-light-gray: hsl(228, 33%, 97%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-size: 16px;

  --mobile-screen: 375px;
  --desktop-screen: 1440px;
}

body {
  margin: 0;
  font-family: "Rubik", "Segoe UI", "Roboto", "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--neutral-gray);
  font-size: var(--font-size);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  margin: 5rem auto;
  width: 60%;
}

.comment {
  height: 10rem;
  background-color: var(--neutral-white);
  margin-top: 1rem;
  padding: 1.3rem;
  box-sizing: border-box;
  border-radius: 0.7rem;
  position: relative;
  display: flex;
}

.vote {
  width: 1.2rem;
  height: 5rem;
  display: flex;
  margin-right: 1.2rem;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--neutral-gray);
  padding: 0.4rem 0.7rem;
  border-radius: 0.4rem;
}

.vote p {
  color: var(--primary-blue);
  font-weight: 500;
}

.commentContent {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.avatar,
.username,
.time {
  margin: auto 1rem auto 0rem;
}

.avatar {
  width: 2.3rem;
  height: 2.3rem;
}

.username {
  font-weight: 700;
  color: var(--neutral-dark-blue);
}

.time,
.commentText {
  color: var(--neutral-grayish-blue);
}

.commentText {
  margin: 0px;
}

.reply {
  position: absolute;
  right: 1.5rem;
  top: 1.3rem;
}

.reply p {
  display: inline;
  color: var(--primary-blue);
  font-weight: 500;
}

/** CreateComment Component **/

.avatar.comment {
  margin: 0px;
  margin-right: 1rem;
  height: 3rem;
  width: 3rem;
  padding: 0px;
}

.createComment {
  padding: 1.5rem 1rem;
}

.commentForm {
  width: 100%;
  position: relative;
}

.inputComment {
  border: 1.5px solid var(--neutral-gray);
  border-radius: 0.3rem;
  padding: 1rem 1.2rem;
  margin-right: 1rem;
}

.submit {
  color: var(--neutral-white);
  background-color: var(--primary-blue);
  padding: 0.7rem 1.3rem;
  border: none;
  border-radius: 0.5rem;
  position: absolute;
  top: 0rem;
  right: 0.5rem;
}
